<a href="https://colab.research.google.com/github/manvi1711/Python-learning-Journey-/blob/main/LEC_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DATATYPES:
1- text type= string
2- numeric type= int, float, complex
3- sequence type= list, tupule, range
4- mapping type= dictionary
5- set type= set, frozenset
6- boolean type= bool
7- binary type= bytearray, memoryview
8- none type= none type

In [1]:
a= 'banana'
type(a)

str

In [2]:
b= 3j+12
type(b)

complex

LISTS:
1-it is used to store multiple items in a single variable
2-it is mutable(change)
3-it allows duplicate values
4-it is ordered
5-denoted by []

In [3]:
#slicing
fruits= ['apple', 'banana', 36, 3j, True]
print(fruits)
fruits[0:4:3] #going for element 0 to 4 while skipping to third element

['apple', 'banana', 36, 3j, True]

['apple', 3j]

In [4]:
#update value
fruits= ['apple', 'banana', 36, 3j, True]
fruits[2]= 'hello'
print(fruits)

['apple', 'banana', 'hello', 3j, True]

In [5]:
#change item values using slicing
fruits[0:2]= ['mango', 'lychee']
print(fruits)

['mango', 'lychee', 'hello', 3j, True]

In [6]:
#append= add item at the last
fruits.append("hello")
print(fruits)

['mango', 'lychee', 'hello', 3j, True, 'hello']

In [7]:
#insert= add item anywhere
fruits.insert(2, "please")
print(fruits)

['mango', 'lychee', 'please', 'hello', 3j, True, 'hello']

In [8]:
#remove= remove itemusing their names
fruits.remove('mango')
print(fruits)

['lychee', 'please', 'hello', 3j, True, 'hello']

In [9]:
#pop function= remove item from list using index number
fruits.pop(3)
print(fruits)

['lychee', 'please', 'hello', True, 'hello']

In [10]:
#delete function delete the variable itself so if we try to print that variable
#it gives error

del fruits
print(fruits)

NameError: name 'fruits' is not defined

In [ ]:
#clear function= clear the list items
fruits.clear()
print(fruits)

TUPLE: 1-tuple is also used to store multiple items in a single variable 2-it is ordered 3-it is immutable 4-allow duplicate value 5-it is denoted by ()

In [11]:
animal= ('cat', 'dog', 'cow', 'lion', 467, 678)
print(animal)
type(animal)

('cat', 'dog', 'cow', 'lion', 467, 678)

tuple

In [12]:
animal[3:5]

('lion', 467)

In [13]:
animal[1:5:2] #start:stop:step

('dog', 'lion')

In [14]:
#tuple is unmutable
animal.append('manvi')
print(animal)

AttributeError: 'tuple' object has no attribute 'append'

In [15]:
animal= ('cat', 'dog', 'cow', 'lion', 467, 678)
x = list(animal) #typecasting it to list
x[2] = 'manvi'
animal = tuple(x)
print(animal)

('cat', 'dog', 'manvi', 'lion', 467, 678)

In [16]:
#appending tuple
animal= ('cat', 'dog', 'cow', 'lion', 467, 678)
x = list(animal) #typecasting it to list
x.append('manvi')
animal = tuple(x)
print(animal)

('cat', 'dog', 'cow', 'lion', 467, 678, 'manvi')

In [17]:
x = list(animal)
x.insert(2, 'hello')
animal = tuple(x)
print(animal)

('cat', 'dog', 'hello', 'cow', 'lion', 467, 678, 'manvi')